doctype html
html(lang='en')

  head
    title GizmoStudios
    link(rel='stylesheet' href='assets/css/bundle.css')
    include /favicon

  body
    .container
      h1 Welcome to my portfolio!

include /livereload